@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');
@font-face {
    font-family: fuenteDeZara;
    src: url(OPTIBodoni-Antiqua.otf);
}
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    padding-left: 180px;
    width: 100%;
    height: 100%;
    color: black;
}
header{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
body{
    display: flex;
    background-attachment: fixed;
    background-size: 100% 110%;
/*    justify-content: space-between;*/
}
/*---ERROR 404---*/
.error{
    color: red;
}
.imgError{
    display: block;
    width: 600px;
    margin: auto;
    margin-top: 200px;
}
.divError{
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    color: #F73C90;
    text-align: center;
}
header h1{
    z-index: 1;
    letter-spacing: -5px;
    word-spacing: 2rem;
    font-weight: normal;
    font-size: 7rem;
    font-family: fuenteDeZara;
    margin-bottom: 30px;
    justify-self: flex-start;
}
h2{
    padding-top: 20px;
    font-size: 1.2rem;
}
/*---INICIO PUBLICO---*/
.tituloinicioPublico{
    z-index: 1;
    padding-right: 40px;
}
.inicioPublico{
    padding-top: 20px;
    display: flex;
    z-index: 10;
    color: black;
}
/*---CAROUSEL---*/
slider {
    z-index: -1;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.slider .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: slider 50s infinite;
}

.slider .slide:nth-child(1) {
    background-image: url('../image/arbolYDiagrama.png');
    animation-delay: 0s;
}

.slider .slide:nth-child(2) {
    background-image: url('../image/userlmn_4422135813c8d4c72c03b206bce57a09.jpg');
    animation-delay: -10s;
}

.slider .slide:nth-child(3) {
    background-image: url('https://images.unsplash.com/photo-1543373014-cfe4f4bc1cdf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80');
    animation-delay: -20s;
}

.slider .slide:nth-child(4) {
    background-image: url('https://images.unsplash.com/photo-1517430554953-a5ba4678fe85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80');
    animation-delay: -30s;
}

.slider .slide:nth-child(5) {
    background-image: url('../image/userlmn_9bce9203290a75a0df357f5ac314d474.png');
    animation-delay: -40s;
}

@keyframes slider {
    0%, 16%, 100% {
        transform: translateX(0);
        animation-timing-function: ease;
    }
    20% {
        transform: translateX(-100%);
        animation-timing-function: step-end;
    }
    96% {
        transform: translateX(100%);
        animation-timing-function: ease;
    }
}
/*---LOGIN---*/
.login{
    width: 80%;
    height: 50%;
    position: absolute;
    margin-top: 183px;
}
.login .container{
    display: flex;
    justify-content: space-between;
}
.formulacioInicioSesion{
    width: 500px;
}
#formLogin{
    
}
.formulacioInicioSesion h3{
    font-weight: normal;
    margin-bottom: 30px; 
}
.formulacioInicioSesion table{
    width: 100%;
    height: 100%;
}
.formulacioInicioSesion table tr{
    margin-bottom: 30px;
}
.formulacioInicioSesion input{
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid grey;
}
/*---TECNOLOGIAS---*/
.tecnologias .container1{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
}
.tecnologias .container1 div{
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
}
.tecnologias .container1 div img{
    width: 50px;
    height: 50px;
}
/*---FOOTER---*/
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
}
footer #derechos{
    width: 75%;
    height: 50px;
    padding: 15px 15px;
    font-size: 1rem;
}
#derechos a{
    text-decoration: underline;
}
footer #fotos{
    position: absolute;
    bottom: 0;
    right: 200px;
}
footer * img{
    width: 40px;
}
#sauces{
    background-color: white;
    border-radius: 50%;
}
#home{
    width: 35px;
}