@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');
@font-face {
    font-family: fuenteDeZara;
    src: url(OPTIBodoni-Antiqua.otf);
}
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    padding-left: 180px;
    width: 100%;
    height: 100%;
    color: black;
}
header{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
body{
    display: flex;
    background-attachment: fixed;
    background-size: 100% 110%;
    /*    justify-content: space-between;*/
}
/*---ERROR 404---*/
.error{
    color: red;
}
.imgError{
    display: block;
    width: 600px;
    margin: auto;
    margin-top: 200px;
}
.divError{
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    color: #F73C90;
    text-align: center;
}
header h1{
    z-index: 1;
    letter-spacing: -5px;
    word-spacing: 2rem;
    font-weight: normal;
    font-size: 7rem;
    font-family: fuenteDeZara;
    margin-bottom: 30px;
    justify-self: flex-start;
    text-shadow: 0px 0px 10px white;
}
h2{
    padding-top: 20px;
    font-size: 1.2rem;
}
/*---INICIO PUBLICO---*/
.tituloinicioPublico{
    z-index: 1;
    padding-right: 250px;
}
.inicioPublico{
    z-index: 1;
    width: 80%;
    height: 50%;
    position: absolute;
    margin-top: 183px;    
}
#formInicioPublico{
    position: fixed;
    top: 15px;
    right: 15px;
    display: flex;
    gap: 5px;
}
#formInicioPublico button{
    width: 120PX;
    background-color: white;
    height: 30px;
    font-size: 0.9rem;
}
#formInicioPublico button:hover{
    color: grey;
}
.wrapper{
    height: 50%;
    position: absolute;
}
.wrapper h3{
    font-weight: normal;
    margin-bottom: 40px;
}
.tablaInfo{
    font-size: 1.2rem;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    background-color: rgba(255,255,255,0.8);
}
.tablaInfo td{
    border: 1px solid black;
    padding: 5px;
}
.tablaInfo td:last-of-type{
    text-align: center;
}
.tablaInfo img{
    height: 20px;
}
/*---CAROUSEL---*/
slider {
    z-index: -1;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.slider .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: slider 50s infinite;
}

.slider .slide:nth-child(1) {
    background-image: url('../image/arbolYDiagrama.png');
    animation-delay: 0s;
}

.slider .slide:nth-child(2) {
    background-image: url('');
    animation-delay: -10s;
}

.slider .slide:nth-child(3) {
    background-image: url('../image/sesion.PNG');
    animation-delay: -20s;
}

.slider .slide:nth-child(4) {
    background-image: url('../image/tablas.PNG');
    animation-delay: -30s;
}

.slider .slide:nth-child(5) {
    background-image: url('../image/diagramaYRelacion.png');
    animation-delay: -40s;
}

@keyframes slider {
    0%, 16%, 100% {
        transform: translateX(0);
        animation-timing-function: ease;
    }
    20% {
        transform: translateX(-100%);
        animation-timing-function: step-end;
    }
    96% {
        transform: translateX(100%);
        animation-timing-function: ease;
    }
}
/*---LOGIN---*/
.login{
    width: 80%;
    height: 50%;
    position: absolute;
    margin-top: 183px;
}
.login .container{
    display: flex;
    justify-content: flex-start;
    gap: 150px;
}
.formulacioInicioSesion{
    width: 500px;
}
.formulacioInicioSesion h3{
    font-weight: normal;
    margin-bottom: 40px;
}
.formulacioInicioSesion table{
    width: 100%;
    height: 100%;
}
.formulacioInicioSesion button{
    margin-bottom: 40px;
    width: 100%;
    height: 40px;
    font-size: 1rem;
    background-color: white;
}
.formulacioInicioSesion button:hover{
    color: grey;
}
.formulacioInicioSesion input[type=password]{
    margin-bottom: 60px;
}
.formulacioInicioSesion input[placeholder="Error de autentificacion. Vuelve a introducir las credenciales."]::placeholder{
    color: red;
}
.formulacioInicioSesion input{
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1rem;
    border-bottom: 1px solid grey;
    margin-bottom: 30px;
}
/*---REGISTRO---*/
.registro{
    width: 80%;
    height: 50%;
    position: absolute;
    margin-top: 183px;
}
.registro h3{
    font-weight: normal;
    margin-bottom: 40px;
}
.registro .container{
    display: flex;
    justify-content: flex-start;
    gap: 150px;
}
.formulacioRegistro{
    width: 500px;
}
.formulacioRegistro table{
    width: 100%;
    height: 100%;
}
.formulacioRegistro input{
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1rem;
    border-bottom: 1px solid grey;
    margin-bottom: 30px;
}
.formulacioRegistro button{
    margin-bottom: 40px;
    width: 100%;
    height: 40px;
    font-size: 1rem;
    background-color: white;
}
.formulacioRegistro button:hover{
    color: grey;
}
.formulacioRegistro input[name="newPassword2"]{
    margin-bottom: 60px;
}
/*---INICIO PRIVADO---*/
.inicioPrivado{
    width: 90%;
    height: 50%;
    position: absolute;
    margin-top: 183px;
}
.inicioPrivado .container{
    width: 100%;
}
#formInicioPrivado{
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
}
#formInicioPrivado button{
    width: 220px;
    background-color: white;
    border-radius: none;
    border: 1px solid #ccc;
    padding: 10px 10px;
    font-size: 1rem;
}
#formInicioPrivado button:hover{
    color: #ccc;
}
.mensajeBienvenida{
    font-size: 1.1rem;
}
/*---WIP---*/
.wip{
    width: 90%;
    height: 50%;
    position: absolute;
    margin-top: 183px;
}
.wip h3{
    font-weight: normal;
    margin-bottom: 40px;
}
.wip p{
    font-size: 1.1rem;
}
.wip button{
    margin-bottom: 40px;
    width: 496px;
    height: 40px;
    font-size: 1rem;
    background-color: white;
    margin-top: 40px;
}
.wip button:hover{
    color: #ccc;
}
/*---REST---*/
.rest{
    width: 90%;
    height: 80%;
    position: absolute;
    margin-top: 183px;
    display: flex;
    gap: 20px;
}
.rest .container{
    position: relative;
    width: 30%;
}
.rest .wrapper{
    position: relative;
    width: 30%;
}
.rest .container2{
    position: relative;
    width: 30%;
}
.rest button{
    margin-bottom: 40px;
    width: 250px;
    height: 40px;
    font-size: 1rem;
    background-color: white;
}
.rest .botonVolver{
    margin-top: 40px;
}
.rest button:hover{
    color: #ccc;
}
.rest #municipio{
    margin-bottom: 40px;
    width: 250px;
    height: 40px;
    font-size: 1rem;
    background-color: white;
}
.rest #signo{
    margin-bottom: 40px;
    width: 250px;
    height: 40px;
    font-size: 1rem;
    background-color: white;
}
.rest #fechaZodiaco{
    margin-bottom: 40px;
    height: 40px;
    background-color: white;
    font-size: 1rem;
}
.mensajeAEMET{
/*    font-size: 1.1rem;*/
    margin-bottom: 20px;
}
.rest .tablaAEMET{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}
.rest .tablaAEMET th{
    border: 1px solid black;
    padding: 5px;
}
.rest .tablaAEMET td{
    text-align: center;
    border: 1px solid grey;
}
/*---DETALLE---*/
.detalle{
    width: 90%;
    height: 50%;
    position: absolute;
    margin-top: 183px;
}
.detalle .botonVolver{
    margin-bottom: 40px;
    width: 496px;
    height: 40px;
    font-size: 1rem;
    background-color: white;
}
.detalle .botonVolver:hover{
    color: #ccc;
}
/*---MANTENIMIENTO DEPARTAMENTOS---*/
.mtoDepartamentos{
    width: 90%;
    height: 80%;
    position: absolute;
    margin-top: 183px;
}
.mtoDepartamentos .botones{
    margin-bottom: 40px;
    width: 496px;
    height: 40px;
    font-size: 1rem;
    background-color: white;
}
.mtoDepartamentos button:hover{
    color: #ccc;
}
.mtoDepartamentos #formMto #busquedaSimple{
    width: 100%;
    height: 50px;
    font-size: 1rem;
    background: none;
    border: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 40px;
}
/*---MANTENIMIENTO TRABAJOS---*/
.mtoTrabajos{
    width: 90%;
    height: 80%;
    position: absolute;
    margin-top: 183px;
}
.mtoTrabajos .botones{
    margin-bottom: 40px;
    width: 496px;
    height: 40px;
    font-size: 1rem;
    background-color: white;
}
.mtoTrabajos .botonVolver{
    position: fixed;
    top: 80px;
    right: 175px;
}
.mtoTrabajos #botonEditar{
    background: none;
    color: inherit;
    border: none;
    cursor: pointer;
}
.mtoTrabajos #fotoEditar{
    width: 25px;
}
.mtoTrabajos button:hover{
    color: #ccc;
}
.mtoTrabajos #formMtoTrabajo #busquedaSimple{
    width: 100%;
    height: 50px;
    font-size: 1rem;
    background: none;
    border: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 40px;
}
.mtoTrabajos .tablaTrabajos{
    width: 90%;
    border-collapse: collapse;
}
.mtoTrabajos .tablaTrabajos td, .mtoTrabajos .tablaTrabajos th{
    padding-left: 5px;
}
.mtoTrabajos .tablaTrabajos thead{
    text-align: left;
    height: 50px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 1.2rem;
    font-weight: normal;
}
.mtoTrabajos .tablaTrabajos tbody tr:first-of-type{
    border-top: none;
}
.mtoTrabajos .tablaTrabajos tbody tr{
    height: 40px;
    font-size: 1rem;
    border-bottom: 1px solid #ccc;
}
/*---MODIFICAR TRABAJOS---*/
.modTrabajos{
    width: 90%;
    height: 80%;
    position: absolute;
    margin-top: 183px;
}
.modTrabajos .botones{
    margin-top: 20px;
    margin-bottom: 40px;
    margin-right: 20px;
    width: 400px;
    height: 40px;
    font-size: 1rem;
    background-color: white;
}
.modTrabajos #formModTrabajo table{
    width: 90%;
}
.modTrabajos #formModTrabajo table .titulo{
    width: 420px;
}    
.modTrabajos input{
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1rem;
    border-bottom: 1px solid grey;
    margin-bottom: 30px;
}
.modTrabajos input[disabled]{
    background-color: #ddd;
}
.modTrabajos button:hover{
    color: #ccc;
}
/*---TECNOLOGIAS---*/
.tecnologias{
    width: 90%;
    height: 50%;
    position: absolute;
    margin-top: 183px;
    display: flex;
    flex-flow: column;
}
.tecnologias p{
    font-size: 1.2rem;
    margin-bottom: 5px;
}
.tecnologias .container1, .tecnologias .container2, .tecnologias .container3{
    display: flex;
    flex-flow: row;
    gap: 20px;
    margin-bottom: 30px;
}
.tecnologias .container3 div{
    width: 300px;
}
.tecnologias div div{
    width: 200px;
    height: 175px;
    border: 1px solid #ccc;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.tecnologias div div a img{
    max-width: 100%;
    height: 100px;
    transition: all .2s ease-in;
}
.tecnologias div div a img:hover{
    height: 125px;
}
.formTecnologiasVolver{
    position: fixed;
    top: 150px;
    right: 175px;
}
.formTecnologiasVolver button{
    width: 400px;
    height: 40px;
    font-size: 1rem;
    background-color: white;
}
/*---FOOTER---*/
footer{
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
}
footer #derechos{
    width: 65%;
    height: 50px;
    padding: 15px 15px;
    font-size: 1rem;
}
#derechos a{
    text-decoration: underline;
}
footer #fotos{
    width: 35%;
    position: absolute;
    bottom: 0;
    right: 200px;
    display: flex;
    justify-content: flex-end;
}
footer #fotos .formTecnologias{
    z-index: 1;
    width: 40px;
}
.formTecnologias button{
    width: 40px;
    background: none;
    border: none;
}
footer #fotos .formTecnologias img{
    height: 40px;
    border-radius: 50%;
    background-color: white;
}
footer a img{
    height: 40px;
    background-color: white;
    border-radius: 50%;
}
#home{
    width: 35px;
}